body {
	font-family: sans-serif;
	background-color: black;
	text-align: left;
	border: 2px solid white;
}
h1, h2{    
	color: gold;
	font-style: Oblique;
}
p  {
	color: gold;
	font-size: 20px;
	line-height: 2em;
}
ol, ul {
	color: red;
	font-size: 20px;
	background-color: silver;
}
